.website {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .website .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 4556px;
    position: relative;
  }
  
  .website .oval {
    position: absolute;
    width: 276px;
    height: 276px;
    top: 722px;
    left: -141px;
    background-color: #f0f3fa;
    border-radius: 138px;
  }
  
  .website .overlap {
    position: absolute;
    width: 1440px;
    height: 684px;
    top: 0;
    left: 0;
  }
  
  .website .overlap-group {
    position: absolute;
    width: 1440px;
    height: 120px;
    top: 0;
    left: 0;
  }
  
  .website .rectangle {
    position: absolute;
    width: 1440px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px #0000001a;
  }
  
  .website .rectangle-2 {
    position: absolute;
    width: 100px;
    height: 120px;
    top: 0;
    left: 135px;
    background-color: #020e35;
  }
  
  .website .rectangle-copy {
    position: absolute;
    width: 100px;
    height: 6px;
    top: 114px;
    left: 135px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .combined-shape {
    position: absolute;
    width: 45px;
    height: 48px;
    top: 27px;
    left: 163px;
  }
  
  .website .HOME {
    position: absolute;
    top: 31px;
    left: 776px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: normal;
  }
  
  .website .text-wrapper {
    letter-spacing: 0.8px;
  }
  
  .website .span {
    letter-spacing: 0;
  }
  
  .website .ABOUT {
    top: 31px;
    left: 866px;
    color: #000000;
    font-size: 12px;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
  }
  
  .website .SERVICES {
    position: absolute;
    top: 31px;
    left: 962px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: normal;
  }
  
  .website .PORTFOLIO {
    position: absolute;
    top: 31px;
    left: 1073px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: normal;
  }
  
  .website .rectangle-3 {
    position: absolute;
    width: 107px;
    height: 40px;
    top: 28px;
    left: 1198px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .text-wrapper-2 {
    position: absolute;
    top: 41px;
    left: 1213px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .group {
    position: absolute;
    width: 740px;
    height: 566px;
    top: 118px;
    left: 700px;
  }
  
  .website .img {
    width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .website .overlap-3 {
    position: absolute;
    width: 531px;
    height: 380px;
    top: 251px;
    left: 135px;
  }
  
  .website .rectangle-copy-2 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 340px;
    left: 0;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .text-wrapper-3 {
    position: absolute;
    top: 351px;
    left: 24px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .we-create-content-th {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #020e35;
    font-size: 97px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .text-wrapper-4 {
    top: 784px;
    left: 644px;
    color: #020e35;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si {
    position: absolute;
    width: 823px;
    top: 859px;
    left: 308px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 2684px;
    top: 1157px;
    left: 0;
  }
  
  .website .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 2392px;
    top: 292px;
    left: 0;
    background-color: #020e35;
  }
  
  .website .rectangle-5 {
    position: absolute;
    width: 377px;
    height: 583px;
    top: 0;
    left: 135px;
    background-color: #fdf8e3;
  }
  
  .website .bitmap {
    position: absolute;
    width: 349px;
    height: 314px;
    top: 4px;
    left: 149px;
  }
  
  .website .rectangle-copy-3 {
    position: absolute;
    width: 377px;
    height: 583px;
    top: 0;
    left: 532px;
    background-color: #f0f3fa;
  }
  
  .website .rectangle-copy-4 {
    position: absolute;
    width: 377px;
    height: 583px;
    top: 0;
    left: 929px;
    background-color: #feeff0;
  }
  
  .website .bitmap-2 {
    position: absolute;
    width: 300px;
    height: 255px;
    top: 31px;
    left: 967px;
  }
  
  .website .p {
    left: 553px;
    position: absolute;
    width: 337px;
    top: 352px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-2 {
    left: 155px;
    position: absolute;
    width: 337px;
    top: 352px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-3 {
    width: 337px;
    top: 352px;
    left: 949px;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .text-wrapper-5 {
    position: absolute;
    width: 337px;
    top: 305px;
    left: 552px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .text-wrapper-6 {
    position: absolute;
    width: 337px;
    top: 305px;
    left: 155px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .text-wrapper-7 {
    position: absolute;
    width: 337px;
    top: 305px;
    left: 949px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2b2b2b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .bitmap-3 {
    position: absolute;
    width: 304px;
    height: 268px;
    top: 18px;
    left: 568px;
  }
  
  .website .rectangle-copy-5 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 512px;
    left: 650px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .READ-MORE-copy-wrapper {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 512px;
    left: 253px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .READ-MORE-copy {
    position: absolute;
    top: 11px;
    left: 40px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .group-copy {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 2594px;
    left: 650px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .text-wrapper-8 {
    position: absolute;
    top: 11px;
    left: 32px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .rectangle-copy-6 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 512px;
    left: 1047px;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .text-wrapper-9 {
    position: absolute;
    top: 523px;
    left: 690px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .READ-MORE-copy-2 {
    position: absolute;
    top: 523px;
    left: 1087px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .oval-2 {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 253px;
    left: 1327px;
    border-radius: 39px;
    border: 2px solid;
    border-color: #ffffff;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
  }
  
  .website .path {
    position: absolute;
    width: 18px;
    height: 33px;
    top: 276px;
    left: 1356px;
  }
  
  .website .text-wrapper-10 {
    position: absolute;
    top: 682px;
    left: 641px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .text-wrapper-11 {
    position: absolute;
    top: 793px;
    left: 742px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .brand-name-copy {
    top: 1713px;
    left: 742px;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .brand-name-copy-2 {
    position: absolute;
    top: 1253px;
    left: 541px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .brand-name-copy-3 {
    top: 2153px;
    left: 541px;
    text-align: right;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .ios-ANDROID-WEB {
    position: absolute;
    top: 847px;
    left: 742px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .website .ios-ANDROID-WEB-copy {
    top: 1767px;
    left: 742px;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .website .ios-ANDROID-WEB-copy-2 {
    position: absolute;
    top: 1307px;
    left: 349px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: right;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .website .ios-ANDROID-WEB-copy-3 {
    top: 2207px;
    left: 349px;
    text-align: right;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-4 {
    width: 492px;
    top: 915px;
    left: 742px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-5 {
    width: 492px;
    top: 1835px;
    left: 742px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-6 {
    width: 492px;
    top: 1375px;
    left: 207px;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .lorem-ipsum-dolor-si-7 {
    width: 492px;
    top: 2275px;
    left: 207px;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    position: absolute;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .line-copy {
    position: absolute;
    width: 102px;
    height: 2px;
    top: 732px;
    left: 669px;
  }
  
  .website .bitmap-4 {
    position: absolute;
    width: 587px;
    height: 390px;
    top: 794px;
    left: 135px;
  }
  
  .website .bitmap-copy {
    top: 1714px;
    left: 135px;
    position: absolute;
    width: 587px;
    height: 390px;
  }
  
  .website .bitmap-copy-2 {
    position: absolute;
    width: 587px;
    height: 390px;
    top: 1254px;
    left: 719px;
  }
  
  .website .bitmap-copy-3 {
    top: 2154px;
    left: 719px;
    position: absolute;
    width: 587px;
    height: 390px;
  }
  
  .website .our-valuable-service {
    position: absolute;
    top: 1056px;
    left: 538px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #020e35;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .line {
    top: 834px;
    position: absolute;
    width: 102px;
    height: 2px;
    left: 669px;
  }
  
  .website .line-copy-2 {
    top: 1106px;
    position: absolute;
    width: 102px;
    height: 2px;
    left: 669px;
  }
  
  .website .form {
    position: absolute;
    width: 554px;
    height: 496px;
    top: 3941px;
    left: 752px;
  }
  
  .website .button {
    position: absolute;
    width: 554px;
    height: 48px;
    top: 448px;
    left: 0;
    background: linear-gradient(180deg, rgb(140, 50, 240) 0%, rgb(231, 53, 135) 100%);
    all: unset;
    box-sizing: border-box;
  }
  
  .website .text-wrapper-12 {
    position: absolute;
    top: 17px;
    left: 216px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 13px;
    white-space: nowrap;
  }
  
  .website .message {
    width: 554px;
    height: 198px;
    top: 220px;
    position: absolute;
    left: 0;
  }
  
  .website .edit-box {
    position: absolute;
    width: 554px;
    height: 168px;
    top: 30px;
    left: 0;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .website .text-wrapper-13 {
    position: absolute;
    top: 5px;
    left: 15px;
    opacity: 0.6;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2c3241;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .website .text-wrapper-14 {
    top: -1px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2c3241;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
    position: absolute;
    left: 0;
  }
  
  .website .subject {
    width: 554px;
    height: 78px;
    top: 110px;
    position: absolute;
    left: 0;
  }
  
  .website .question-about-your-wrapper {
    background-image: url(./img/base.svg);
    position: absolute;
    width: 554px;
    height: 48px;
    top: 30px;
    left: 0;
    background-size: 100% 100%;
  }
  
  .website .question-about-your {
    position: absolute;
    top: 5px;
    left: 15px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #2c3241;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .website .text-wrapper-15 {
    top: -1px;
    font-family: "WorkSans-Bold", Helvetica;
    font-weight: 700;
    color: #2c3241;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
    position: absolute;
    left: 0;
  }
  
  .website .email {
    position: absolute;
    width: 554px;
    height: 78px;
    top: 0;
    left: 0;
  }
  
  .website .something-website-co-wrapper {
    background-image: url(./img/base-2.svg);
    position: absolute;
    width: 554px;
    height: 48px;
    top: 30px;
    left: 0;
    background-size: 100% 100%;
  }
  
  .website .overlap-5 {
    position: absolute;
    width: 584px;
    height: 250px;
    top: 3940px;
    left: 135px;
  }
  
  .website .questions-comments {
    position: absolute;
    width: 584px;
    top: 0;
    left: 0;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #020e35;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .website .we-d-love-to-hear-fr {
    position: absolute;
    width: 584px;
    top: 30px;
    left: 0;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 90px;
    letter-spacing: 0;
    line-height: 110px;
  }
  
  .website .text-wrapper-16 {
    color: #020e35;
  }
  
  .website .text-wrapper-17 {
    color: #e73587;
  }
  
  .website .element-all-rights-re-wrapper {
    position: absolute;
    width: 1440px;
    height: 30px;
    top: 4531px;
    left: 0;
    background-color: #020e35;
  }
  
  .website .element-all-rights-re {
    position: absolute;
    left: 135px;
    font-family: "Basic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 5px;
  }
  